@model ExpensePost

@{
    ViewData["Title"] = "Index";
}

<h2>Enter a new expense</h2>

<form asp-controller="Expense" asp-action="NewExpense" method="post">
    <label asp-for="ExpenseDescription">Expense Description: </label>
    <input asp-for="ExpenseDescription" type="text" />

    <label asp-for="ExpenseCategory">Expense Category: </label>
    <select asp-for="ExpenseCategory" asp-items="ExpensePost.ExpenseCategories" ></select>

    <label asp-for="ExpenseAmount">Monthly Expense Amount: </label>
    <input asp-for="ExpenseAmount" type="number" />

    <input type="submit" value="Submit" />
</form>
