@model IncomePost

@{
    ViewData["Title"] = "Index";
}

<h2>New Income Stream</h2>

<form asp-controller="Income" asp-action="NewIncome" method="post">
    <div>
        <label asp-for="BudgetDescription">Budget Description: </label>
        <input asp-for="BudgetDescription" type="text" />

        <label asp-for="IncomeDescription">Primary Income Description: </label>
        <input asp-for="IncomeDescription" type="text" />

        <label asp-for="IncomeAmount">Primary Income Amount: </label>
        <input asp-for="IncomeAmount" type="number" />
    </div> <div>
        <label asp-for="IncomeCategory">Secondary Income Description: </label>
        <select asp-for="IncomeCategory" asp-items="IncomePost.IncomeCategories" />
    </div>
    <input type="submit" value="Submit" />
</form>