@model IncomePost

@{
    ViewData["Title"] = "Index";
}

<h2>New Income Stream</h2>

<form asp-controller="Income" asp-action="NewIncome" method="post">
    <div>
        <label asp-for="IncomeDescription">Income Source: </label>
        <input asp-for="IncomeDescription" type="text" />

        <label asp-for="IncomeCategory">Income Category: </label>
        <select asp-for="IncomeCategory" asp-items="IncomePost.IncomeCategories"></select>

        <label asp-for="IncomeAmount">Monthly Income Amount: </label>
        <input asp-for="IncomeAmount" type="number" />
    </div> 
    <input type="submit" value="Submit" />
</form>