@model BudgetPost

@{
    ViewData["Title"] = "Index";
}

<h2>@Model.BudgetName</h2>

<form asp-controller="Expense" asp-action="NewExpense" method="get">

    <input type="submit" value="New Monthly Expense" />
</form>
<form asp-controller="Expense" asp-action="Index" method="post">

    <input type="submit" value="Current Monthly Expenses" />
</form>
<form asp-controller="Income" asp-action="NewIncome" method="get">

    <input type="submit" value="New Monthly Income" />
</form>
<form asp-controller="Income" asp-action="Index" method="post">
    <input type="submit" value="Current Monthly Income Streams" />
</form>
<form asp-controller="Home" asp-action="Results" method="post">

    <input type="submit" value="Total Camparison" />
</form>
