@model BudgetPost

@{
    ViewData["Title"] = "Index";
}

<h2>New Budget</h2>

<form asp-controller="Budget" asp-action="NewBudget" method="post">
    <label asp-for="BudgetName">Budget Name: </label>
    <input asp-for="BudgetName" type="text" />

    <label asp-for="BudgetCategory">Budget Category: </label>
    <select asp-for="BudgetCategory" asp-items="BudgetPost.BudgetCategories" ></select>

    <input type="submit" value="Submit" />
</form>
