@{
    ViewData["Title"] = "Home Page";
}
<h2>Personal Budget Manager and Tracker</h2>

<a asp-controller="Expense" asp-action="NewExpense" method="get">Create a new expense</a>
<a asp-controller="Expense" asp-action="Index" method="get">View the current expenses</a>

<a asp-controller="Income" asp-action="NewIncome" method="get">Create a new income</a>
<a asp-controller="Income" asp-action="Index" method="get">View all current streams of income</a>
