@{
    ViewData["Title"] = "Home Page";
}
<h2>Personal Budget Manager and Tracker</h2>

<a asp-controller="Budget" asp-action="NewBudget" method="get">Create a new Budget</a>
<a asp-controller="Budget" asp-action="NewBudget" method="get">Select a Current Budget</a>
