@model List<decimal>
@{
    ViewData["Title"] = "Home Page";
}
<h2>Personal Budget Manager and Tracker</h2>

<h3>Total Expenses: @Model[0]</h3>
<h3>Total Income: @Model[1]</h3>

<h3>Total Money left over for the month:  @Model[2]</h3>